@charset "UTF-8";
@font-face {
  font-family: Roboto;
  /* Имя шрифта */
  src: url(../fonts/Roboto/Roboto.ttf);
  /* Путь к файлу со шрифтом */
  font-family: BOOKOS;
  /* Имя шрифта */
  src: url(../fonts/Bookman/BOOKOS.ttf);
  /* Путь к файлу со шрифтом */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: "BOOKOS", serif;
}

header {
  background: #f1f1f1;
}

.menu {
  padding: 0 30px;
  max-width: 1200px;
  height: 4em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .menu__item {
  font-size: 20px;
  transition: 0.3s ease-in;
}
.menu .menu__item:first-child {
  margin: 0 30px;
}
.menu .menu__item:last-child {
  margin: 0 30px;
}
.menu .menu__item:hover {
  color: #707070;
}
.menu .menu_mobile {
  display: none;
}
.menu .menu_mobile span {
  height: 2px;
  width: 50px;
  background: #000;
}
.menu .menu_mobile {
  transform: rotate(90deg);
}

.main {
  padding: 0 30px;
  max-width: 1200px;
  margin: 5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .title {
  padding-bottom: 2em;
  text-align: center;
}
.main img {
  width: 100%;
  height: 500px;
  background: grey;
}

.about {
  padding: 0 30px;
  height: 700px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .title {
  padding: 1em 0;
}
.about .about__text {
  width: 60%;
}

.skills {
  padding: 0 30px;
  max-width: 1200px;
  margin: 5em auto;
}
.skills .skills__container {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills .skills__container .skills__item {
  margin: 2em 2.5em;
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.skills .skills__container .skills__item .text {
  margin: 20px auto;
}
.skills .skills__container .skills__item img {
  width: 100%;
  object-fit: cover;
}

.works {
  padding: 0 30px;
  max-width: 1200px;
  margin: 3em auto;
}
.works .works__container {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.works .works__container .works__item {
  position: relative;
  margin: 0.5em 0.7em;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.works .works__container .works__item .works__img {
  overflow: hidden;
  width: 350px;
  height: 350px;
}
.works .works__container .works__item .text {
  margin: 20px auto;
}
.works .works__container .works__item img {
  width: 100%;
  object-fit: contain;
}
.works .works__container .works__item:after {
  transition: 0.3s ease-in;
}
.works .works__container .works__item:hover:after {
  content: "";
  transition: 0.3s ease-in;
  width: 300px;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: black;
}

footer {
  padding: 0 30px;
  height: 150px;
  background: #818181;
}

@media screen and (max-width: 600px) {
  .menu__item {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
  }
  .menu .menu_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 3em;
  }
}
@media (max-width: 350px) {
  .works .works__container .works__item {
    width: 250px;
    height: 300px;
    margin: 0.5em 0;
    padding: 0 20px;
  }
  .works .works__container .works__item .works__img {
    overflow: hidden;
    width: 250px;
    height: 250px;
  }
  .works .works__container .works__item::after {
    width: 150px;
  }

  .works .works__container .works__item::after {
    width: 150px;
  }
}